# Pick one:
# - chat (OpenAI ChatCompletions API)
# - completions (legacy completions api)
TESTPILOT_LLM_API_KIND=chat

# Endpoint to POST requests to:
# OpenAI example:
# TESTPILOT_LLM_API_ENDPOINT=https://api.openai.com/v1/chat/completions
TESTPILOT_LLM_API_ENDPOINT=https://api.openai.com/v1/chat/completions

# Auth headers JSON string.
# OpenAI example:
# TESTPILOT_LLM_AUTH_HEADERS={"Authorization":"Bearer YOUR_OPENAI_API_KEY"}
TESTPILOT_LLM_AUTH_HEADERS={"Authorization":"Bearer YOUR_OPENAI_API_KEY"}
TESTPILOT_LLM_MODEL=gpt-4o-mini
